figure.chat_room {}

figure.chat_room figcaption {
    font-size: 1.2em;
}

figure.chat_room ol {
    width: 100%;
    height: 20em;
    padding: 0.3em;
    border: 1px solid #aaa;
    overflow-y: scroll;
    list-style: none;
}
figure.chat_room ol li {}
figure.chat_room ol li.chat_self {
    font-style: italic;
}
figure.chat_room ol li .chat_user {}
figure.chat_room ol li .chat_date {}
figure.chat_room ol li .chat_time {}
figure.chat_room ol li .chat_text {}

figure.chat_room form {
    display: flex;
    align-items: flex-end;
}
figure.chat_room form .chat_message {
    flex: 100;
}
figure.chat_room form .chat_help {
    font-size: small;
}
figure.chat_room form .chat_button {
    flex: 1;
}
figure.chat_room form input {
    width: 100%;
}
