/* utf-8-marker: äöüß */


div.chat_room {
    border: 1px solid #777;
}

div.chat_messages {
    height: 200px;
    overflow: scroll;
    padding: 5px;
}

div.chat_message {
    margin-bottom: 0.5ex;
}

div.chat_self {
    font-style: italic;
}

span.chat_user {}
span.chat_message {}

div.chat_room form {
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

div.chat_room input {
    width: 85%
}

div.chat_room .submit {
    width: 10%
}
